*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden; 
    background-color: rgba(0, 0, 0, 0.837);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}


a{
    color: rgb(37, 34, 28);
    text-decoration: none;
}

ul{
    display: flex;
    position: relative;
    left: 20%;
    
}

ul li{
    list-style: none;
    font-size: 25px;
    padding: 20px;
    margin: 20px;
    z-index: 1;
    color: white
}

.content{
    display: flex;
    position: relative;
    left: 19%;
}


.bg-image-zoro{
    margin: 0;
    position: absolute;
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                      url('one-piece-roronoa-zoro-swordsman-sword-katana-hd-wallpaper-preview.jpg') ;
    
    z-index: 0;
}

.zoro{
    z-index: 1;
    position: absolute;
    top: 20vh;
    left: 35vw;
    width: 50vw;
    height: 50vh;
}

.logo{
    z-index: 1;
    position: relative;
    display: flex;
    color: white;
    left: 2vw;
    top: 10vh;
}

.logo h1{
    margin-left: 10px;
    font-size: 40px;
    font-weight: bold;
}

.search-container{
    position: relative;
    top: 20vh;
    z-index: 1;
    left: -14vw;
}

.search{
    width: 35vw;
    height: 7vh;
    border-radius: 30px;
    border: 1px solid white;
    position: absolute;
    left: 2vw;

}
.search::placeholder{
    position: relative;
    top: 4px;
    font-size: 20px;
    padding: 15px;
}

.icon{
    border: 2px solid  rgb(183, 247, 87);
    border-radius: 50px;
    background-color:  rgb(183, 247, 87);
    position: relative;
    left: 38vw;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon1{
   font-size: 25px;
   color: black;
   
}

span{
    font-weight: bold;
    color: white;
}

.text-content{
    
    position: relative;
    top: 4vh;
    left: 2vw;
    color: whitesmoke;
    margin: 1px;
}

button{
    height: 8vh;
    width: 62vw;
    top: 46vh;
    left: 2vw;
    z-index: -1;
    background-color: rgb(183, 247, 87);
    margin: auto;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: self-end;
    padding: 1.5vh;
    font-size: 3vh;
    
}

.icon2{
    z-index: 1;
    
    top: 40vh;
    color: white;
    left: 57vw;
    border: 2px solid black;
    border-radius: 50px;
    padding: 0.2vw;
    background-color: black;
    display: flex;
}

.social-icons{
    display: flex;
    align-items: center;
    position: relative;
    top: 50vh;
    left: 21vw;
    gap: 10px;
    color: whitesmoke;
    margin: 5px;
    padding: 5px; /* Adjusted padding for better alignment */
    border: 2px solid rgb(18, 18, 17); /* Green border */
    border-radius: 10px; /* Smooth edges */
    background-color: #191717;
    /* width: fit-content; */
    max-width: 60vw;

}

.social-icons-text {
    font-size: 16px;
    text-align: left;
}

.social-icons-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px;
    
}

.social-icons-container img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.social-icons-container img:hover {
    transform: scale(1.1);
}


.latest-updates{
    display: flex;
    flex-direction: column;
    margin: auto;
    z-index: 1;
}
